/* 田字格 */
.tianzi-grid {
  --border-color: var(--color-amber-600);
  border-color: var(--border-color);

  @apply relative flex items-center justify-center border-2;
}

/* 田字格字形 */
.tianzi-grid>.char-glyph {
  z-index: 1;
  overflow: hidden;
}

/* 田字格横中线 */
.tianzi-grid::before {
  content: '';
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-color: var(--border-color);
  z-index: 0;

  @apply absolute border-t-2 border-dashed opacity-30;
}

/* 田字格竖中线 */
.tianzi-grid::after {
  content: '';
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-color: var(--border-color);
  z-index: 0;

  @apply absolute border-l-2 border-dashed opacity-30;
}
