/* 田字格 */
.tianzi-grid {
  --border-color: var(--color-amber-600);
  border-color: var(--border-color);

  @apply relative flex items-center justify-center border-2;
}

/* 田字格字形 */
.tianzi-grid>.zi-glyph {
  z-index: 1;
}

/* 田字格横中线 */
.tianzi-grid::before {
  content: '';
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-color: var(--border-color);
  z-index: 0;

  @apply absolute border-t-2 border-dashed opacity-30;
}

/* 田字格竖中线 */
.tianzi-grid::after {
  content: '';
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-color: var(--border-color);
  z-index: 0;

  @apply absolute border-l-2 border-dashed opacity-30;
}

/* ----------------------------------------------- */
.char-spell:last-child>.separator {
  display: none;
}

/* ----------------------------------------------- */
/* 隐藏部分笔画的动画帧 */
.stroke-step .tianzi-grid>.zi-glyph>svg g>path {
  display: none;
}

/* 显示完整笔画的动画帧（Note: 动画帧的 path id 是倒序设置的，序号 0 始终为完整笔画） */
.stroke-step .tianzi-grid>.zi-glyph>svg g>[href$="-f-0"] {
  fill: #000;
  opacity: 0.08;
}

/* 高亮完整笔画的动画帧 */
.stroke-step .tianzi-grid>.zi-glyph>svg g.active>[href$="-f-0"] {
  fill: var(--color-red-600);
  opacity: 1;
}

.stroke-step .tianzi-grid>.zi-glyph>svg g.actived>[href$="-f-0"] {
  opacity: 1;
}
