@import "tailwindcss";

r-template {
  display: none;
}

/* 指定与汉典网相同的字体族，以便于识别相同 unicode 的异体字 */
body {
  font-family: 'Microsoft Yahei', sans-serif, Arial, Verdana;
}

@keyframes pulse-light {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

.loading-pulse {
  animation: pulse-light 1.2s infinite;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #fef3c7;
}

::-webkit-scrollbar-thumb {
  background: #d97706;
  border-radius: 8px;
}

input[type=range] {
  -webkit-appearance: none;
  background: #e5e7eb;
  border-radius: 9999px;
  height: 4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #d97706;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------- */
.zi-card {
  transition: all 0.2s ease;

  @apply shadow-md border border-amber-200 text-center py-2 rounded-xl cursor-pointer block;
}

.zi-card:active {
  transform: scale(0.96);
}

.zi-card .value {
  @apply text-3xl font-serif text-amber-800;
}

.zi-card .spell {
  @apply text-blue-800;
}
